{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <script src="https://kit.fontawesome.com/85c910c1e9.js" crossorigin="anonymous"></script>
    <title>Portfolio</title>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <ul id="sidemenu">
                    <li><a href="#" style="font-weight:bold;">Home</a></li>
                    <li><a href="#" style="font-weight:bold;">About</a></li>
                    <li><a href="#" style="font-weight:bold;">Services</a></li>
                    <li><a href="#" style="font-weight:bold;">Portfolio</a></li>
                    <li><a href="#" style="font-weight:bold;">Contact</a></li>
                    <i class="fas fa-times" onclick="closemenu()"></i>
                </ul>

                <i class="fas fa-bars" onclick="openmenu()"></i>
            </nav>
            
            <img class="banner" src="{%static 'images/portfolio_logo.png'%}" class="logo" style="height:700px;width:1800px;">

            <div class="header-text">
                <p style="text-decoration:underline;font-weight: bold;font-size:larger;font-style: oblique;">SOFTWARE  DEVELOPMENT</p>
                <h1>Hi, I am <span>Shubham</span> Singh</h1>
                <h2 style="margin-left:50px;text-decoration: underline;color: #ff004f;">' Software Developer '</h2>
            </div>
        </div>
    </div>
    <!----------about---------->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="{%static 'images/mypicture.jpg'%}"  style="height:500px;width:500px">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Repudiandae tenetur nesciunt magnam, corrupti temporibus error possimus ipsam sequi, 
                    dolores totam libero impedit enim qui numquam similique dolor? Odit, enim quod?</p>
                    
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('experience')">Experience</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span style="font-weight: bold;">Python:</span><br>Object Oriented Programming and Various Library</li>
                            <li><span style="font-weight: bold;">Django:</span><br>Django Backend Web Development</li>
                            <li><span style="font-weight: bold;">Github:</span><br> Git Commands and Github</li>
                            <li><span style="font-weight: bold;">Bootstrap:</span><br>HTML,CSS,JS</li>

                        </ul>
                    </div>
                    <div class="tab-contents" id="experience">
                        <ul>
                            <li><span>2019 - Current</span><br>Backend Development using Django(Freelancing)</li>
                            <li><span>2022 - Current</span><br>Mobile Application Development in <a href="#" style="color: #ff004f ;" >Decimal Technology</a></li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>2022</span><br>MCA(Hons) from Dr. A.P.J. Abdul Kalam Technical University Uttar Pradesh.</li>
                            <li><span>2020</span><br>BCA from Uttarakhand Technical Universty.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------services---------->
    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Backend Development</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi culpa nihil optio dolores ipsum exercitationem sunt. 
                        Quas, aliquid voluptatum ducimus, saepe, velit porro architecto neque nemo repellendus dicta enim!</p>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-crop-simple"></i>
                    <h2>UI Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi culpa nihil optio dolores ipsum exercitationem sunt. 
                        Quas, aliquid voluptatum ducimus, saepe, velit porro architecto neque nemo repellendus dicta enim!</p>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fa-brands fa-app-store"></i>
                    <h2>App Development</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eligendi culpa nihil optio dolores ipsum exercitationem sunt. 
                        Quas, aliquid voluptatum ducimus, saepe, velit porro architecto neque nemo repellendus dicta enim!</p>
                    <a href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <!----------portfolio---------->
    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title">My Work</h1>
            <div class="work-list">
                <div class="work">
                    <img src="{%static 'images/saarathi_logo.png'%}">
                    <div class="layer">
                        <h3>Social Media App</h3>
                        <p>The app connect you to the talented people around the world.
                            Download it from play store.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="{%static 'images/saarathi_logo.png'%}">
                    <div class="layer">
                        <h3>Music App</h3>
                        <p>The app connect you to the talented people around the world.
                            Download it from play store.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="{%static 'images/saarathi_logo.png'%}">
                    <div class="layer">
                        <h3>Online shopping App</h3>
                        <p>The app connect you to the talented people around the world.
                            Download it from play store.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
            <a href="#" class="btn">See more</a>
        </div>
    </div>
    <!-------------contact------------->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fas fa-paper-plane"></i>Shubhi231305@gmail.com</p>
                    <p><i class="fas fa-phone-square-alt"></i>8924929744</p>
                    <div class="social-icons">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                    <a href="{{url}}" attributes-list download="{%static 'doc/Shubham.pdf'%}" class="btn btn2"> Download CV</a>

                </div>
                <div class="contact-right">
                    <form>
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your Email" required>
                        <textarea name="Message" rows="6" placeholder="Your Message" ></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <p>Copyright @ Shubham singh. Design & Developed by:- shubham singh </p>
        </div>
    </div>



    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");
        function opentab(tabname){
            for(tablink of tablinks){
                tablink.classList.remove("active-link");
            }
            for(tabcontent of tabcontents){
                tabcontent.classList.remove("active-tab");
            }
            event.currentTarget.classList.add("active-link");
            document.getElementById(tabname).classList.add("active-tab");
        }
    </script>

    <script>

        var sidemenu = document.getElementById("sidemenu");

        function openmenu(){
            sidemenu.style.right = "0";
        }
        function closemenu(){
            sidemenu.style.right = "-200px";
        }
    </script>
</body>
</html>